<!DOCTYPE html>
<html>
<head>
    <title>Reset Submissions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Reset Submissions</h1>
        <form method="post" action="/reset">
            <p>Are you sure you want to reset all submissions?</p>
            <button type="submit">Reset Submissions</button>
        </form>
        <br>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
